.style :nth-child(1){color: brown; font-size: 200px;}
.style :nth-child(2){color: rgb(12, 15, 204); font-size: 100px;}
.style :nth-child(3){color: rgb(41, 41, 3);font-size: 138px;}
.style :nth-child(4){color: green; font-size: 180px;}
.style :nth-child(5){color: rgb(214, 12, 113);font-size: 90px;}
.style{ display: flex; list-style: none; justify-content: center; background-color: aqua; ; height: 300px;
animation: move-text 2s infinite; border-radius: 100px;}
@keyframes move-text{
    0%{transform: translateX(0);}
    100%{transform: translateX(100px);}
     0%{transform: translateX(0);}
}

#img{border-radius: 400px;}

.RéVez :nth-child(1){color: navy;}
.RéVez :nth-child(2){color: darkgreen;}
.RéVez :nth-child(3){color: crimson;}
.RéVez :nth-child(4){color: darkgoldenrod;}
.RéVez :nth-child(1){color: purple;}
.RéVez{display: flex;justify-content: center;list-style: none; font-size: 100px; font-family: cursive; box-shadow:0px 0px 0px 2px ;border-style: outset; border-radius: 100px; background-color: rgb(255, 247, 238);}

.image{
    border-radius: 200px; border-color: darkred;box-shadow:0px 0px 0px 2px; border-style: outset
}

.form{ box-shadow:0px 0px 0px 2px;width: 600px; background-color: aqua; border-radius: 90px;

}
body{background-color: olive;}

#eee{ border-color: black; width: 499px;}

.bas{box-shadow:0px 0px 0px 2px; background-color: brown; border-radius: 300px; cursor: pointer;}
.bas :hover{background-color: aqua;}
 
